<h1><%- currentPage.title %></h1>
<div class="stackable grid">
    <% if(typeof currentPage.content != 'undefined' && currentPage.content.length > 0){
        currentPage.content.forEach(function(row){%>

    <div class="row">
        <% row.forEach(function(column){%>
        <div class="<%= column.widthClass %> rtfWrapper" >
            <% if(column.type == 'rtf' || 'dynImg'){%>
            <div><%- column.data %></div>
            <% } %>
            <% if(column.type == 'html'){%>
            <div><%- column.data %></div>
            <% } %>
            <% if(column.type == 'carousel'){ %>
            <div>
                <ul >
                    <% if(typeof column != 'undefined' && typeof column.data == 'array' && column.data.length > 0){
                        column.data.forEach(function(image){%>
                    <li>
                        <div class="layer"><img src="/image/120/120/<%= image.name %>" /></div>
                    </li>
                    <% });
                    }
                %>
                </ul>
            </div>
            <% } %>
        </div>
        <% }); %>
    </div>
    <% });
    }%>
</div>